@import url("default.css");

.wy-menu span.caption-text {
    color: #E5554F;
}

.wy-side-nav-search, .wy-nav-top {
    background: #E5554F;
}

.rst-content .custom .admonition-title:before {
    content: ""
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
